.DS_Store
.gradle/
.kotlin/
.idea/
.playwright-cli/
*.iml
build/
app/.cxx/
captures/
local.properties
app/build/
app/libs/
output/
artifacts/
repo/
.tmp/
tmp/
srclibs/
/third_party/sing-box/
*.keystore
*.jks
*.log
*.apk
*.apks
*.aab
*.idsig
